SERVER_SIGNER_PRIVATE_KEY=1

NEXT_PUBLIC_CHAIN_ID=44787
NEXT_PUBLIC_RPC_URL=https://forno.celo.org
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_FISHING_ROD_ADDRESS=
NEXT_PUBLIC_NFT_ADDRESS=
NEXT_PUBLIC_TOKEN_ADDRESS=
NEXT_PUBLIC_START_BLOCK=

NEXT_PUBLIC_CORE_ADDRESS=
NEXT_PUBLIC_ROD_ADDRESS=
